<template name="projectDescription">
    <br>
    <br>
    <br>
    
    <h3>Project description</h3>
    <p>This poject is an effort to make designing and ordering custom packaging easy and pain-free.
       We believe that product packaging is as important as the product itself. The care you put into your packaging leaves a lasting impression.
       We give users the power to design and order quality, custom packaging at low quantities for ridiculously affordable prices. There is no set-up fee, no catch, and no hassle</p>
</template>
