<template name="learningMaterials">
    <div class="chapter-header">
        <div class="ui fixed top">
            <h2 class="ui header" style="box-shadow: 1px 1px 1px 1px #eee;">
                <i id="backToMain" class="angle left huge icon"></i>
                <div class="content">
                    Learning materials 🎓

                </div>
            </h2>

        </div>
    </div>
    <div class="content-wrapper">
        <div class="ui container">

            {{>sites}}
            {{>resources}}
            {{>blogs}}
            {{>podcasts}}
            {{>books}}
            {{>tools}}
            {{>courses}}
            {{>people}}
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</template>

<template name="sites">

    <h2 class="ui header">
        Newsletters
        <div class="sub header">Daily sources of inspiration for UX/UI designers.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://heydesigner.com/">HeyDesigner</a>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://www.uxbooth.com/">UXBooth</a>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="https://medium.com/">Medium</a>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header">Producthunt</a>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://www.materialup.com/">MaterialUp</a>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://boxesandarrows.com/stories/">Boxes and arrows</a>
            </div>
        </div>
    </div>
</template>
<template name="resources">
    <h2 class="ui header">
        Design resources
        <div class="sub header">Some nice sites to follow, with free design/prototyping resources.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="paint brush icon"></i>
            <div class="content">
                <a class="header" href="http://sketchapp.tv/">Sketchapp tv</a>
            </div>
        </div>
        <div class="item">
            <i class="paint brush icon"></i>
            <div class="content">
                <a class="header" href="https://sketchrepo.com/">Sketchrepo</a>
            </div>
        </div>
        <div class="item">
            <i class="paint brush icon"></i>
            <div class="content">
                <a class="header" href=" http://pttrns.com/">Mobile patterns</a>
            </div>
        </div>
        <div class="item">
            <i class="paint brush icon"></i>
            <div class="content">
                <a class="header" href="http://muz.li/">Muzli</a>
            </div>
        </div>
    </div>
</template>
<template name="blogs">
    <h2 class="ui header">
        Blogs
        <div class="sub header">Real, paper, pick-me-up-and-flip-through-me books.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="browser icon"></i>
            <div class="content">
                <a class="header" href="http://www.lukew.com/ff/">Luke Wróblewski</a>
            </div>
        </div>
        <div class="item">
            <i class="browser icon"></i>
            <div class="content">
                <a class="header" href=" http://blog.invisionapp.com/">InVision</a>
            </div>
        </div>
        <div class="item">
            <i class="browser icon"></i>
            <div class="content">
                <a class="header" href=" http://designweekly.atomic.io/">Atomic Desing</a>
            </div>
        </div>
    </div>
</template>

<template name="podcasts">
    <h2 class="ui header">
        Podcasts
        <div class="sub header">The best podcasts about UX and products out there.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="unmute icon"></i>
            <div class="content">
                <a class="header" href="http://www.designreviewpodcast.com/">Design review</a>
            </div>
        </div>
        <div class="item">
            <i class="unmute icon"></i>
            <div class="content">
                <a class="header" href="http://userdefenders.com/">User defenderds</a>
            </div>
        </div>
        <div class="item">
            <i class="unmute icon" href="https://itunes.apple.com/us/podcast/startup-school-radio/id992277217?mt=2"></i>
            <div class="content">
                <a class="header">Startup School Radio</a>
            </div>
        </div>
        http://leanstartup.co/podcasts/
        <div class="item">
            <i class="unmute icon"></i>
            <div class="content">
                <a class="header" href="http://uxpodcast.com/">UXPodcast</a>
            </div>
        </div>
        <div class="item">
            <i class="unmute icon"></i>
            <div class="content">
                <a class="header" href="http://leanstartup.co/podcasts/">Lean startup podcast</a>
            </div>
        </div>
    </div>
</template>

<template name="books">
    <h2 class="ui header">
        Books
        <div class="sub header">Real, paper, pick-me-up-and-flip-through-me books.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a href="http://theleanstartup.com/book" class="header">The lean startup</a>

            </div>
        </div>
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header">The Design of Everyday Things</a>
            </div>
        </div>
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header">About Face 3: The Essentials of Interaction Design  </a>
            </div>
        </div>
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header">Search Patterns: Design for Discovery </a>
            </div>
        </div>

        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header" href="http://www.amazon.com/Designing-Behavior-Change-Psychology-Behavioral/dp/1449367623"> Designing for Behavior Change</a>
            </div>
        </div>
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header"> Don't Make Me Think</a>
            </div>
        </div>

    </div>
</template>
<template name="courses">
    <h2 class="ui header">
        Courses
        <div class="sub header">Courses to learn more.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="university icon"></i>
            <div class="content">
                <a class="header" href="https://class.coursera.org/hci/lecture">Human-computer interaction</a>
            </div>
        </div>
        <div class="item">
            <i class="university icon"></i>
            <div class="content">
                <a class="header" href="http://www.dailyframer.com/">Daily framer</a>
            </div>
        </div>
    </div>

</template>
<template name="people">
    <h2 class="ui header">
        People
        <div class="sub header">Few really great UX/UI designers that are worth following.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/lukew">@lukew - Luke Wróblewski</a>
            </div>
        </div>
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/jnd1er">@jnd1er - Don Norman</a>
            </div>
        </div>
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/MrAlanCooper">@MrAlanCooper - Alan Cooper</a>
            </div>
        </div>
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/morville">@morville - Peter Morville</a>
            </div>
        </div>
    </div>
</template>
<template name="tools">
    <h2 class="ui header">
        Prototyping
        <div class="sub header">Cutting edge prototyping tools.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://framerjs.com">FramerJS</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://www.sketchapp.com">Bohemian sketchapp</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://invisionapp.com">InVision app</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://axure.com">Axure</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://uxpin.com">Pixate</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://uxpin.com">UXPIN</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://marvelapp.com/">Marvelapp</a>
            </div>
        </div>
    </div>
    <h2 class="ui header">
        Analytics
        <div class="sub header">Cutting edge prototyping tools.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://www.fullstory.com/">Full story</a>
            </div>
        </div>
    </div>
</template>