<template name="learningMaterials">
    <div class="chapter-header">
        <div class="ui fixed top">
            <h2 class="ui header" style="box-shadow: 1px 1px 1px 1px #eee;">
                <i id="backToMain" class="angle left huge icon"></i>
                <div class="content">
                    Learning materials 🎓

                </div>
            </h2>

        </div>
    </div>
    <div class="content-wrapper">
        <div class="ui container">

            {{>sites}}
            {{>resources}}
            {{>blogs}}
            {{>podcasts}}
            {{>books}}
            {{>tools}}
            {{>courses}}
            {{>people}}
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</template>

<template name="sites">

    <h2 class="ui header">
        Newsletters
        <div class="sub header">Daily sources of inspiration for UX/UI designers.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://heydesigner.com/">HeyDesigner</a>
                <div class="description">Curated articles for designers and front-end developers.</div>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://www.uxbooth.com/">UXBooth</a>
                <div class="description">The UX Booth is a publication by and for the user experience community.</div>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="https://medium.com/">Medium</a>
                <div class="description">Top notch, first hand articles.</div>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header">Producthunt</a>
                <div class="description">The place to discover your next design tools, and new products.</div>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://www.materialup.com/">MaterialUp</a>
                <div class="description">MaterialUp curates the best of Material Design, daily.</div>
            </div>
        </div>
        <div class="item">
            <i class="mail outline icon"></i>
            <div class="content">
                <a class="header" href="http://boxesandarrows.com/stories/">Boxes and arrows</a>
                <div class="description">Boxes and Arrows is devoted to the practice, innovation, and discussion of design; including graphic design.</div>
            </div>
        </div>
    </div>
</template>
<template name="resources">
    <h2 class="ui header">
        Design resources
        <div class="sub header">Some nice sites to follow, with free design/prototyping resources.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="paint brush icon"></i>
            <div class="content">
                <a class="header" href="http://sketchapp.tv/">Sketchapp tv</a>
                <div class="description">Free Sketch 3 Video Tutorials & Design Resources..</div>
            </div>
        </div>
    </div>
</template>
<template name="blogs">
    <h2 class="ui header">
        Blogs
        <div class="sub header">Real, paper, pick-me-up-and-flip-through-me books.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="browser icon"></i>
            <div class="content">
                <a class="header" href="http://www.lukew.com/ff/">Luke Wróblewski</a>
                <div class="description">Publications on the critical details and big picture behind digital product design.</div>
            </div>
        </div>
        <div class="item">
            <i class="browser icon"></i>
            <div class="content">
                <a class="header" href=" http://blog.invisionapp.com/">InVision</a>
                <div class="description">Publications on the critical details and big picture behind digital product design.</div>
            </div>
        </div>
    </div>
</template>

<template name="podcasts">
    <h2 class="ui header">
        Podcasts
        <div class="sub header">The best podcasts about UX and products out there.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="unmute icon"></i>
            <div class="content">
                <a class="header" href="http://www.designreviewpodcast.com/">Design review</a>
                <div class="description">Weekly podcast about products and their UX.</div>
            </div>
        </div>
        <div class="item">
            <i class="unmute icon"></i>
            <div class="content">
                <a class="header" href="http://userdefenders.com/">User defenderds</a>
                <div class="description">Inspiring interviews with UX Design superheroses.</div>
            </div>
        </div>
        <div class="item">
            <i class="unmute icon" href="https://itunes.apple.com/us/podcast/startup-school-radio/id992277217?mt=2"></i>
            <div class="content">
                <a class="header">Startup School Radio</a>
                <div class="description">Weekly broadcast where you'll hear Aaron Harris, a partner at Y Combinator, get stories and practical advice from founders and investors.</div>
            </div>
        </div>
        <div class="item">
            <i class="unmute icon"></i>
            <div class="content">
                <a class="header" href="http://uxpodcast.com/">UXPodcast</a>
                <div class="description">UX Podcast is for people passionate about balancing business, technology and users within the realm of digital media..</div>
            </div>
        </div>
    </div>
</template>

<template name="books">
    <h2 class="ui header">
        Books
        <div class="sub header">Real, paper, pick-me-up-and-flip-through-me books.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header">The Design of Everyday Things</a>
                <div class="description">First, businesses discovered quality as a key competitive edge; next came science.</div>
            </div>
        </div>
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header">Search Patterns: Design for Discovery </a>
                <div class="description">This provocative and inspiring book explores design patterns that apply across the categories of web, e-commerce, enterprise, desktop, mobile, social, and real time search and discovery.</div>
            </div>
        </div>
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
                <a class="header"> Don't Make Me Think:</a>
                <div class="description"> Steve Krug’s guide to help them understand the principles of intuitive navigation and information design.</div>
            </div>
        </div>
    </div>
</template>
<template name="courses">
    <h2 class="ui header">
        Courses
        <div class="sub header">Worth recommendation courses to learn event more.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="university icon"></i>
            <div class="content">
                <a class="header" href="https://class.coursera.org/hci/lecture">Human-computer interaction</a>
                <div class="description">You will learn how to design technologies that bring people joy, rather than frustration. </div>
            </div>
        </div>

    </div>
</template>
<template name="people">
    <h2 class="ui header">
        People
        <div class="sub header">Few really great UX/UI designers that are worth following.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/lukew">@lukew - Luke Wróblewski</a>
            </div>
        </div>
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/jnd1er">@jnd1er - Don Norman</a>
            </div>
        </div>
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/MrAlanCooper">@MrAlanCooper - Alan Cooper</a>
            </div>
        </div>
        <div class="item">
            <i class="user icon"></i>
            <div class="content">
                <a class="header" href="https://twitter.com/morville">@morville - Peter Morville</a>
            </div>
        </div>
    </div>
</template>
<template name="tools">
    <h2 class="ui header">
        Prototyping
        <div class="sub header">Few best prototyping tools, to discover.</div>
    </h2>
    <div class="ui list">
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://framerjs.com">FramerJS</a>
                <div class="description">Framer is a design tool that uses code to make anything possible. </div>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://www.sketchapp.com">Bohemian sketchapp</a>
                <div class="description">Sketch is built for modern UX/UI designers, and it shows in every fibre of the app.</div>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://invisionapp.com">InVision app</a>
                <div class="description">Prototyping, collaboration & workflow platform.</div>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://axure.com">Axure</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://uxpin.com">Pixate</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://uxpin.com">UXPIN</a>
            </div>
        </div>
        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header" href="https://marvelapp.com/">Marvelapp</a>
            </div>
        </div>
    </div>
</template>