<template name="chapterTwoLessons">
    <div class="chapter-header">

        <div class="ui fixed top">

            <h2 class="ui header">
                <i id="backToMain" class="angle left huge icon"></i>
                <div class="content">
                    Principles of User Experience
                </div>
            </h2>

        </div>
        <div class="ui teal progress chapter-progress-bar " id="example2">
            <div class="bar">
            </div>
        </div>
    </div>


    <div class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="row">
                <div class="ui middle aligned stackable grid container">
                    <div class="ui list">
                        <div id="mess0" class="ui icon message">
                            <img class="avatar" src="images/ajavatar.png">

                            <div class="content">
                                <div class="header">
                                    Hi there!
                                </div>
                                <p>It is me again, today we will talk a little bit more about principles of User Experience discipline.</p>
                            </div>
                        </div>
                        <div id="mess1" class="ui icon hidden message">
                            <i class="write icon"></i>
                            <div class="content">
                                <p>Think for a while, and ask yourself how do you understand term User Experience? What are your most strong associations? Write them down if possible!</p>
                            </div>
                        </div>
                        <div id="mess2" class="ui icon hidden message">
                            <div class="content">
                                <div class="header">
                                    What user experience is?
                                </div>
                                <p>Plenty of definitions, out there, but the most humanized one could be - You know when you’re using a website, an app, or your phone and you get frustrated when it doesn't do what you want it to? My job is to make sure that doesn't happen..</p>
                            </div>
                        </div>
                        <div id="mess3" class="ui icon hidden message">
                            <div class="content">

                                <p>Each of us feals a little bit different what a good design is, and very often people has purly intuitive definition. There is NO one good answer, for some it is more logo, for others UI. Look at this how others define what UX is for them. </p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/rWaoNNAuhBI" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div id="mess4" class="ui icon hidden message">
                            <i class="write icon"></i>
                            <div class="content">
                                <p>What did you like from this video? </p>
                            </div>
                        </div>
                        <id id="mess5" class="ui icon huge hidden message">
                            <div class="content">
                                <p>I like the definition that "Design is a set of decisions about the product"</p>
                            </div>
                        </id>
                        <div id="mess6" class="ui icon hidden message">
                            <div class="content">

                                <p>The first important thing to get a user experience thinking is to meet the exact needs of the customer, without fuss or bother. Next comes simplicity and elegance that produce products that are a joy to own, a joy to use. True user experience goes far beyond giving customers what they say they want, or providing checklist features.

                                    It's important to distinguish the total user experience from the user interface (UI), even though the UI is obviously an extremely important part of the design.
                                </p>
                                <p>
                                    We should also distinguish UX and usability: According to the definition of usability, it is a quality attribute of the UI, covering whether the system is easy to learn, efficient to use, pleasant, and so forth. Again, this is very important, and again total UX is an even broader concept.</p>
                            </div>
                        </div>

                        <div id="mess7" class="ui icon hidden message">
                            <i class="write icon"></i>
                            <div class="content">
                                <div class="header">
                                    Knock, knock
                                </div>
                                <p>Yeah, to frame a context a little bit, let's go throught your experience. Write down (on your paper), 3 things that development teams, benefits from UX Design in general. </p>
                            </div>
                        </div>
                        <div id="mess8" class="ui icon hidden message">
                            <div class="content">
                                <p>Companies are starting to realize the importance of centering their products and experiences around the user. They’re investing in professionals who can get UX practices off the ground and refocus their business approach. So the question is what acctualy UX designer DO? And what is the magic behind it? </p>
                            </div>
                        </div>
                        <div id="mess9" class="ui icon hidden message">
                            <div class="content">
                                <p>Approaching UX as a practice made up of specific disciplines creates clarity and hierarchy. UX is the practice: strategy, user research, information architecture, and visual design make up each discipline. Titles follow suit, so there’s no confusion about who does what.  ? </p>
                            </div>
                        </div>
                        <div id="mess10" class="ui icon hidden message">
                            <div class="content">
                                <img src="images/chapterOneRoles.png"/>
                            </div>
                        </div>
                        <div id="mess11" class="ui icon hidden message">
                            <div class="content">
                                <p>
                                    From this picture we have few roles, with more focus on particular element of UX
                                </p>
                                <ul class="list">
                                    <li>User experience designer</li>
                                    <li>Visual designer</li>
                                    <li>User experience architect</li>
                                    <li>User experience strategist</li>
                                    <li>Interaction designer</li>
                                    <li>Unicorn</li>
                                </ul>
                            </div>
                        </div>

                        <div id="mess12" class="ui icon hidden message">
                            <p>During this program we will try to cover particular building blocks of UX to some extent. What is more imporant, is that this are not sepereted things, and they must work in a process that in the end allows you to craft better products. </p>
                        </div>
                        <div id="mess13" class="ui icon hidden message">
                            <i class="write icon"></i>
                            <div class="content">
                                <div class="header">
                                    Project description
                                </div>
                                <p>To achive more consistant workflow we will do a project along the program.  Each chapter will be finished by some project deliverables, that UX designer should bring to the table working with the team.</p>
                            </div>
                        </div>
                        <div id="mess14" class="ui icon hidden message">
                            <i class="write icon"></i>
                            <div class="content">
                                <div class="header">
                                    Deliverable #1
                                </div>
                                <p>Think about, what bothers you in daily life. Did you observe any types of activites that can be improved, or extend via some digital products? Maybe you have an idea on how to improve sobodys life? Think about these things and write it down. With this on next meeting we can start creating a UX concept.</p>
                            </div>
                        </div>
                        <div id="mess15" class="ui icon hidden message">

                            <div class="content">
                                <div class="header">
                                    That'is for now :)
                                </div>
                                <br>
                                <iframe src="//giphy.com/embed/d86kftzaeizO8" width="480" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/celebrate-mrw-win-d86kftzaeizO8">via GIPHY</a></p>

                            </div>
                        </div>
                        <br>
                        {{#if isFirst}}
                        <button id="nextMessage" class="ui primary button">
                            <i class="icon "><div class="circle-ripple"><img src="images/mentee.jpeg" style="
                            width: 20px;
                            position: relative;
                            top: 0px;
                            border-radius: 100px;
                            height: 20px;
                        "></div></i> Tell me more!
                        </button>

                        {{else}}
                        <button id="nextMessage" class="ui primary button">
                            Tell me more!
                        </button>
                        {{/if}}
                        <br>
                        <br>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="row">
                <div class="ui middle aligned stackable grid container">
                    <div class="ui list">
                        <h1>Learning materials</h1>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="http://www.uxmatters.com/mt/archives/2014/11/fundamental-principles-of-great-ux-design-how-to-deliver-great-ux-design.php"> Nielsen Norman Group</a>
                                <div class="description">Fundamental Principles of Great UX Design.</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="http://www.helloerik.com/know-your-ux-hats"> Know Your UX Hats</a>
                                <div class="description">User experience is in a strange stage of its evolutionary cycle. Companies want to get UX into their products.</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href=" http://www.sitepoint.com/5-simple-ux-principles-guide-product-design/"> 5 Simple UX Principles to Guide your Product Design</a>
                                <div class="description">This never-ending process requires keeping UX present before, during, and after the build is complete..</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>