<template name="chapterTwoLessons">
    <div class="chapter-header">
        <div class="ui fixed top">
            <h2 class="ui header">
                <i id="backToMain" class="angle left huge icon"></i>
                <div class="content">
                    Research and strategy
                </div>
            </h2>
        </div>
        <div class="ui fluid steps" style="margin-top:0px;">
            <div id="step1" class="active step">
                <i class="icon"></i>
                <div class="content">
                    <div class="title">Lesson 1</div>
                    <div class="description">What user research is?
                    </div>
                </div>
            </div>
            <div id="step2" class="step">
                <i class=" icon"></i>
                <div class="content">
                    <div class="title">Lesson 2</div>
                    <div class="description">Minimum Viable Product
                    </div>
                </div>
            </div>
            <div id="step3" class="step">
                <i class="icon"></i>
                <div class="content">
                    <div class="title">Lesson 3</div>
                    <div class="description">Personas</div>
                </div>
            </div>
            <div id="step4" class="step">
                <i class=" icon"></i>
                <div class="content">
                    <div class="title">Lesson 4</div>
                    <div class="description">Impact Mapping</div>
                </div>
            </div>
            <div id="step5" class="step">
                <i class=" icon"></i>
                <div class="content">
                    <div class="title">Lesson 5</div>
                    <div class="description">Canvas Value Proposition</div>
                </div>
            </div>
        </div>
        <div class="ui teal progress chapter-progress-bar" id="example2">
            <div class="bar">
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="row" style="margin-top:100px;">
                <div id="messages-wrapper" class="ui middle aligned stackable grid container">
                    <div class="ui list">
                        <div id="mess0" class="ui icon message">
                            <img class="avatar" src="images/ajavatar.png">

                            <div class="content">
                                <div class="header">
                                    Hi there!
                                </div>
                                <p>Yey, it is time to start next chapter! 🔥🔥This chapter we will discuss User Research, one of the most important aspects of User Centered Design.</p>

                            </div>
                        </div>
                        <div id="mess1" class="ui icon teal huge hidden message">
                            <div class="content">
                                What user research is?
                            </div>
                        </div>

                        <div id="mess2" class="ui icon message hidden">
                            <div class="content">
                                <p>
                                    User research is the act of interviewing prospective and actual users of your products to gain clarity on a number of objectives. You might use it to figure out why people aren’t adding recommended products to a cart, why they’re not clicking through your emails on mobile phone, or why adoption of your application has fallen significantly.</p>
                            </div>
                        </div>
                        <div id="mess3" class="ui icon message hidden">
                            <div class="content">
                                <p>
                                    Conducting user research is just one part of the equation.Afterwards, you have to act on that feedback to make new product decisions or enhancements. Depending on your role in the project, you may not agree with some of the feedback. If this is the case, remember that you’re not the end user. Your day is likely consumed with interacting with the website or application, which isn’t representative of a typical user’s usage.
                                </p>
                            </div>
                        </div>
                        <div id="mess4" class="ui icon huge message hidden">
                            <div class="content">
                                <p>
                                    What does this look like, and how is it done? Reach out early, ask often, and always listen. UX isn’t UX without research, after all.
                                </p>
                            </div>
                        </div>
                        <div id="mess5" class="ui icon huge message hidden">
                            <div class="content">
                                <div class="header">
                                    Types of user research methods
                                </div>
                                <img src="https://s3.amazonaws.com/media.nngroup.com/media/editor/2014/10/10/user-research-methods.png">
                                <br>
                            </div>
                        </div>


                        <div id="mess6" class="ui icon huge message hidden">
                            <div class="content">
                                <img src="http://thumbnails-visually.netdna-ssl.com/ux-research-method-cookies_50ffb54bd0b2f_w1500.png" style="width:800px">
                            </div>
                        </div>
                        <div id="mess7" class="ui icon message hidden">
                            <div class="content">
                                <div class="header">
                                    Heuristic and expert analysis evaluation
                                </div>
                                <br>
                                <p>A<a href="https://www.wikiwand.com/pl/Jakob_Nielsen"> heuristic</a> or expert analysis is conducted to evaluate a website or application against agreed upon design principles. User research and user experience professionals evaluate the system and gather issues. Those issues are then classified to what principle it violates and are assigned criticality to give direction to the team.</p>
                            </div>
                        </div>
                        <div id="mess8" class="ui icon message hidden">
                            <div class="content">
                              <img src="https://s-media-cache-ak0.pinimg.com/736x/61/15/77/6115773665cb72a6710f2e2c1abafc06.jpg" style="width:800px">
                            </div>
                        </div>




                        <div id="mess9" class="ui icon message hidden">
                            <i class="linkify icon"></i>
                            <div class="content">
                                <p>You can look at <a href="https://www.nngroup.com/articles/which-ux-research-methods/">this article</a> to learn in more details,  about particular research methods and deliverables.</p>
                            </div>
                        </div>


                        <div id="mess10" class="ui icon teal huge hidden message">
                            <div class="content">
                               Minimum Viable Product
                            </div>
                        </div>
                        <div id="mess11" class="ui icon message hidden">
                            <div class="content">
                                <div class="header">
                                    What Minimum Viable Product is?
                                </div>
                                <p> The Minimum Viable Product (MVP) is a core concept in Lean UX. The idea is to build the most basic version of the concept as possible, test it and if there are no valuable results to abandon it. The MVPs which show promise can then be incorporated into further design and development rounds without too much hassle.

                                    This is a great way of maximizing your resources and one of the reasons that it works so well with Agile development – it allows for a lot of experimentation with no “sacred cows”.! </p>
                            </div>
                        </div>
                        <div id="mess12" class="ui icon huge message hidden">
                            <div class="content">
                                <img src="https://public-media.interaction-design.org/images/ux-daily/13ed4c8f0a97333361165686c1e76b79.jpg" style="width:800px">
                            </div>
                        </div>
                        <div id="mess13" class="ui icon message hidden">
                            <div class="content">
                                <p>Minimum Viable Product means different things to different people so lets start with a definition.</p>
                            </div>
                        </div>
                        <div id="mess14" class="ui icon message hidden">
                            <div class="content">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/bvFnHzU4_W8" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>


                        <br>
                        {{#if isFirst}}
                        <button id="nextMessage" class="ui primary button">
                            <i class="icon "><div class="circle-ripple"><img src="images/mentee.jpeg" style="
                        width: 20px;
                        position: relative;
                        top: 0px;
                        border-radius: 100px;
                        height: 20px;
                    "></div></i> Tell me more!
                        </button>

                        {{else}}
                        <button id="nextMessage" class="ui primary button">
                            Tell me more!
                        </button>
                        {{/if}}
                        <br>
                        <br>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui equal width stackable internally celled grid">
          <div class="row">
            <div class="ui middle aligned stackable grid container">
            <div class="ui list">
                <h1>Assigments</h1>
                <div class="item">
                    <i class="write icon"></i>
                    <div class="content">
                        <a class="header">#1 Idea description</a>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="row">
                <div class="ui middle aligned stackable grid container">
                    <div class="ui list">
                        <h1>Learning materials</h1>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="http://theleanstartup.com/principles">The lean startup</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="https://www.wikiwand.com/pl/Jakob_Nielsen">10 usability heuristics</a>
                            </div>
                        </div>

                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href=" https://www.interaction-design.org/literature/article/a-simple-introduction-to-lean-ux">Lean UX</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="http://www.uxbooth.com/articles/complete-beginners-guide-to-design-research/">Complete Beginner’s Guide to UX Research</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="https://www.nngroup.com/articles/which-ux-research-methods/">Impact mapping</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="https://www.impactmapping.org/">Impact mapping</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="student icon"></i>
                            <div class="content">
                                <a class="header" href="http://leanstartup.co/podcasts//">Lean startup podcasts</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
